main.my-list {
  background-color: #f7f381;
  border: 1px solid #f7f381;
  box-shadow: 0 0 10px 2px #333333;
  font-size: 30px;
  margin: auto;
  padding: 8px 24px;
  width: 500px;
}

ol {
  margin: 12px;
}

p {
  text-align: center;
}
