h1 {
  color: #747474;
  font-family: "Sentinel A" , "Sentinel B" , Georgia, serif;
  font-weight: 400;
}

h4 {
  color: #5c5a5a;
  font-family: "Graphik Semibold Web" , Helvetica , Arial , sans-serif;
  font-style: oblique;
  font-weight: 600;
}

p {
  color: #5c5a5a;
  font-family: "Graphik Regular Web" , Helvetica , sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.47;
}
