body {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 120px auto;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body header {
  background-color: #b5d8ff;
  border-radius: 3px;
  color: white;
  display: grid;
  grid-area: header;
  grid-template-areas: "logo header-text";
  grid-template-columns: 60px auto;
  padding: 3px;
}

body header a {
  align-self: center;
  color: white;
  filter: drop-shadow(0px 0px 3px #777);
  font-size: 3.2em;
  grid-area: logo;
  text-align: center;
  text-decoration: none;
}

body header h1 {
  align-self: center;
  font-size: 1.5em;
  grid-area: header-text;
  margin: 0;
  padding-top: 8px;
}

aside {
  background-color: #b5d8ff;
  border-radius: 3px;
  grid-area: aside;
}

aside ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
}

aside ul a {
  color: #562881;
  display: block;
  padding: 5px;
  text-decoration: none;
}

main {
  grid-area: main;
}

main h1 {
  font-size: 1.5em;
}

div.icons a {
  background-color: #b5d8ff;
  border-radius: 5px;
  border: 1px solid #7daaee;
  color: #562881;
  display: inline-block;
  height: 100px;
  margin: 10px 10px 0px 0px; 
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  vertical-align:middle;
  width: 100px;
}

div.icons a span {
  display: block;
  font-size: 3em;
}

footer {
  background-color: #b5d8ff;
  border-radius: 3px;
  grid-area: footer;
  padding: 8px;
  text-align: left;
}

@media (max-width: 500px) {
  body {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-columns: auto;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #b5d8ff;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #dae9f3;
}

table tr:hover {
  background-color: rgb(173, 204, 240);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(84, 144, 212);
  color: white;
}

div.tasks-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

div.tasks-grid div.task h1 {
  background: #eee;
  padding: 8px 10px;
  border-radius: 2px;
}

